<h1 class="animated fadeIn">Héroes <small>Marvel y DC</small></h1>
<hr>

<div class="card-columns">
    <div class="card" *ngFor="let heroe of heroes; let i = index" >
        <img class="card-img-top" [src]="heroe.img" [alt]="heroe.nombre">
        <div class="card-body">
          <h5 class="card-title">{{ heroe.nombre }}</h5>
          <p class="card-text">{{ heroe.bio }}</p>
          <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>

          <!--<a [routerLink] = "['/heroe',i]" class="btn btn-outline-primary btn-block">Ver más..</a>-->
          <button (click)="verHeroe(i)" class="btn btn-outline-primary btn-block">Ver más..</button>
        </div>
      </div>
</div>