<h1 class="animated fadeIn">{{ heroe.nombre | uppercase }} <small>({{ heroe.aparicion | date: 'y' }})</small></h1>

<div class="row">
  <div class="col-md-4">
    <img [src]="heroe.img" class="img-fluid" [alt]="heroe.name">
    <br><br>
    <a [routerLink] = "['/heroes']" class="btn btn-outline-danger btn-block">Back</a>
  </div>
  <div class="col-md-8">
    <h3>{{ heroe.nombre }}</h3>
    <hr>
    <p>
      {{ heroe.bio }}
    </p>
    <div>
      <img src="assets/img/Marvel-logo.png" width="250px" alt="" *ngIf="marvel" >
      <img src="assets/img/DC_Comics_logo.png" width="250px" alt="" *ngIf="dc" >
    </div>
  </div>
</div>